<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Trabalhando com VueJs</title>

    <style>

    </style>

</head>
<body>

    <div id="app">
        <ul>
            <li v-for="c in comentarios">{{c.id}} - {{c.comentarios}}</li>
        </ul>
        <button @click="adicionarElemento">Adicionar elemento</button>
        <button @click="removendoElemento">Removendo elemento</button>
        <button @click="modificarElemento">Atualizar</button>
        <hr>
        <ul>
            <li v-for="n in numero">{{n}}</li>
        </ul>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="({titulo, descricao}, chave) in cursos2">                  
                    <td>{{chave}}</td>
                    <td>{{titulo}}</td>
                    <td>{{descricao}}</td>
                </tr>
        </table>
        <hr>
        <ul>
            <li v-for="p in publicacoes" style="border: solid 1px; margin-bottom:10px" :key="p.id">
               <div>
                {{ p.publicacao }}
                <hr>
                <input type="text">
               </div>
            </li>
        </ul>
        <button @click="misturarArray()">Misturar publicações</button>
    </div>

    <script>    

        const vm = new Vue({
            el: '#app',
            data: {
                comentarios: [
                    {id: 1, comentarios: 'Comentário 1'},
                    {id: 2, comentarios: 'Comentário 2'},
                    {id: 3, comentarios: 'Comentário 3'},
                ],
                numero : 5,
              cursos: ['Laravel', 'Web completo', 'VueJs', 'ReactJs', 'Angular', 'NodeJs'],
              cursos2: {
                1000: {
                    titulo: 'Laravel',
                descricao: 'Dominie o framwork PHP mais popular do mercado'
            },
                1001: {
                    titulo: 'Web completo',
                    descricao: 'Aprenda a criar aplicações completas'
                }
                },
                publicacoes: [
                    {id: 1, publicacao: 'Publicações 1'},
                    {id: 2, publicacao: 'Publicações 2'},
                    {id: 3, publicacao: 'Publicações 3'},
                ]
            },        
            methods: {
              misturarArray() {
                let misturado = []

                misturado[0] = this.publicacoes[2]
                misturado[1] = this.publicacoes[0]
                misturado[2] = this.publicacoes[1]

                this.publicacoes = misturado
              },
              adicionarElemento() {
                this.comentarios.push({ id: 4, comentarios: 'Novo comentário'})
              },
              removendoElemento() {
                this.comentarios.pop()
              },
              modificarElemento() {
                // this.comentarios[1] = { id: 2, comentarios: 'Comentário 2 alterado'}
                // console.log(this.comentarios)
                this.$set(this.comentarios,
                 1,
                  { id: 2, comentarios: 'Comentário 2 alterado'})
              }

            }         
        })
 </script>
</body>
</html>