<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Trabalhando com VueJs</title>

    <style>

    </style>

</head>
<body>

    <div id="app">
        <tempalte v-if="saudacao">
            <h1>Boas-vindas</h1>
            <p>contéudo da tag <strong>template</strong></p>
        </tempalte>

        <template v-for="n in 10">
            <p>2x {{n}} = {{2*n}}</p>
            <br>
            <p>3x {{n}} = {{3*n}}</p>
            <br>
            <p>4x {{n}} = {{4*n}}</p>
        </template>
    </div>

    <script>    

        const vm = new Vue({
            el: '#app',
            data: {
               saudacao: true
            },        
            methods: {}
            
        })
            </script>
</body>
</html>