<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Trabalhando com VueJs</title>

    <style>

    </style>

</head>
<body>

    <div id="app">
        <ul>
            <li v-for="(curso, chave) in cursos" v-text="chave +' - '+ curso"></li>
        </ul>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="({titulo, descricao}, chave) in cursos2">                  
                    <td>{{chave}}</td>
                    <td>{{titulo}}</td>
                    <td>{{descricao}}</td>
                </tr>
        </table>
    </div>

    <script>    

        const vm = new Vue({
            el: '#app',
            data: {  
              cursos: ['Laravel', 'Web completo', 'VueJs', 'ReactJs', 'Angular', 'NodeJs'],
              cursos2: {
                1000: {
                    titulo: 'Laravel',
                descricao: 'Dominie o framwork PHP mais popular do mercado'
            },
                1001: {
                    titulo: 'Web completo',
                    descricao: 'Aprenda a criar aplicações completas'
                }
                }
            },        
            methods: {
              
            }
         
        })
 </script>
</body>
</html>